<p-table [value]="list" selectionMode="single"  [(selection)]="selectedFile" dataKey="code" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>fileName</th>
            <th>ipAddress</th>
            <th>port</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-file>
        <tr (click)="showDetails(file)" [pSelectableRow]="file">
            <td>{{file.fileName}}</td>  
            <td>{{file.ipAddress}}</td>
            <td>{{file.port}}</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Download file" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Start Byte</label>
            <input type="text" pInputText id="startByte" [(ngModel)]="startByte" required autofocus />
            <small class="p-error" *ngIf="submitted && !startByte">Name is required.</small>
        </div>
        <div class="field">
            <label for="name">Chunk Size Bytes</label>
            <input type="text" pInputText id="chunkSize" [(ngModel)]="chunkSize" required autofocus />
            <small class="p-error" *ngIf="submitted && !chunkSize">Name is required.</small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Download" icon="pi pi-times" class="p-button-text" (click)="download()"></button>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    </ng-template>
</p-dialog>